# Ignore everything
*

# But not these files...
!.gitignore

# Don't ignore PDF files in LaTeX directories
!**/*.pdf

# Don't ignore .tex files
!**/*.tex

# Don't ignore bibliography files
!**/*.bib

# Don't ignore text files
!**/*.txt